@media (min-width: 320px) and (max-width: 768px){
    nav{
        position: relative;
        padding: 20px 0px;
    }
    .navLogo{
        position: absolute;
        width: 50%;
        padding-left: 5px;
    }
    .navLogo img{ 
        padding: 8px 0px;
    }
    .navMenu{
        width: 100%;
        margin-top: 50px;
        padding: 0px 10px;
    }
    .navMenu ul{
        /* margin: auto; */
        gap: 10px;
    }
    .navMenu ul li a{
        font-size: 12px;
        color: navy;
    }
    .navLinks{
        position: absolute;
        width: 100%;
    }
    .navLinks ul{
        gap: 10px;
        padding-right: 5px;
    }
    /* hero section */
    .position{
        /* position: relative; */
        flex-direction: column-reverse;
        gap: 30px;
        padding: 30px;
    }
    .bannerContent{
        min-width: 100%;
        height: auto;
        padding: 0px;
    }
    .bannerBg{
        padding: 0px;
    }
    .dots{
        margin-top: 50px;
        /* padding-bottom: 20px; */
    }
    /* clients section */
    .clientsTitle{
        padding: 0px 20px;
    }
    .clientsIcons{
        gap: 10px;
        padding: 25px 10px;
        justify-content: center;
    }
    .community{
        padding: 0px 10px;
    }
    .businessCards{
        flex-direction: column;
        display: block;
        padding: 0px;
        gap: 10px;
    }
    .communityCard{
        width: 100%;
        /* height: auto; */
        border-radius: 8px;
    }
    .cardContent{
        padding-top: 2px;
    }
    .clientWrapper{
        padding: 20px;
        display: block;
        flex-direction: column;
    }
    .clientBg{
        min-width: 100%;
        height: auto;
        /* margin: auto; */
    }
    .clientWrapperContent{
        min-width: 100%;
        height: auto;
        margin: auto;
        text-align: center;
    }
    .clientWrapperContent h2{
        margin-right: 0px;
    }
    .clientWrapperContent p{
        margin-right: 0px;
    }
    /* business section */
    .localBusiness {
        padding: 20px;
        flex-direction: column;
        gap: 0px;
    }
    .businessContent, .businessDetails{
        width: 100%;
    } 
    .businessContent{
        margin-right: 0px;
        padding: 50px 0px;
        text-align: center;
        margin: auto;
    }
    .businessDetails{
        width: 100%;
        height: auto;
        padding: 0px;
        padding-top: 60px;
        /* margin-top: 60px; */
        margin: auto;
    }
    .localDetails{
        padding-left: 30px;
        gap: 20px;
    }
    .footerWrapper{
        padding: 20px;
        display: block;
        margin-top: 0px; 
    }
    .footerBg{
        width: 100%;
        height: auto;
        padding-bottom: 50px;
        margin: auto;
    }
    .footerContent{
        text-align: center;
        width: 100%;
        height: auto;
    }
    .footerContent h2{
        margin-right: 0px;
    }
    .footerContent p{
        margin-right: 0px;
    }

    .timSmith{
        padding: 20px;
        display: block;
        margin-top: 10px;
        /* margin: auto; */
    }
    .timSmithBg{
        min-width: 100%;
        height: auto;
        margin: auto;
    }
    .timSmithContent{
        width: 100%;
        height: auto;
        padding-bottom: 60px;
    }
    .timSmithLinks{
        gap: 0px;
        position: relative;
    }
    .timSmithLinks div{
        position: absolute;
        margin-top: 60px;
    }
    /* marketing section */
    .marketingContent{
        padding: 0px 20px;
    }
    .marketingContent p{
        height: auto;
    }
    .marketingContentWrapper{
        padding: 10px;
        margin-bottom: 60px;
    }
    .contentWrapper{
        min-width: 100%;
        height: auto;
        flex-direction: column;
    }
    .marketingCards{
        width: 100%;
        height: auto;
    }
    .cardImage{
        width: 300px;
        height: auto;
        margin: auto;
    }
    .wrapperContent{
        width: 260px;
        height: auto;
        padding-bottom: 20px;
        margin-top: 150px;
        margin-left: 20px;
    }
    /* footer section */
    .preFooter h2{
        font-size: 48px;
    }
    .footer{
        display: block;
        padding: 0px 20px;
    }
    .infoLogo{
        padding-bottom: 100px;
        padding-left: 40px;
        margin-right: 0px;
        width: 300px;
        height: auto;
        margin: auto;
    }
    .infoDetails{
        width: 100%;
        height: auto;
        flex-direction: column;
        padding-top: 0px;
        text-align: center;
        /* margin: auto; */
    }
    .button{
        width: 255px;
        gap: 45px;
        margin: auto;
    }
}
