:root{
    --brand-color: #4CAF4F;
    --font-color: #4D4D4D;
    --text-color: #18191F;
    --paragraph-color: #717171;
    --banner-color: #F5F7FA;
    --footer-color: #89939E;
    --textBg-color: #263238;
    --btnBg--color: #D9DBE1;
    --form-color: #525B60;
}
/* css reset start */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

q:before,
q:after {
  content: "";
}

html,
body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  /* margin */
}
/* css reset end */
/* common css start */
.container{
    max-width: 1320px;
    margin: auto;
    /* position: relative; */
}

.flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.btn{
    font-size: 16px;
    padding: 14px 32px;
    border-radius: 5px;
    background-color: var(--brand-color);
    color: white;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.text-color{
    color: var(--brand-color);
}
/* common css end */
/* nav part start */
nav{
    padding: 22px 0px;
    /* margin: auto; */
    background-color: var(--banner-color);
}

.navLogo, .navLinks{
    width: 25%;
}

.navMenu{
    width: 50%;
    margin: auto;
}

.navLogo{
  margin: auto;
}

.navLogo img{
    width: 155px;
}

.navMenu ul{
    gap: 65px;
    font-weight: 400;
}

.navMenu ul li a{
  color: var(--text-color);
}

.navLinks ul{
    gap: 35px;
    margin: auto;
    justify-content: flex-end;
}

.navLinks ul li:last-child{
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--brand-color);
}

.navLinks ul li a{
    color: white;
    font-weight: 500;
}

.navLinks ul li:first-child a{
    color: var(--brand-color);
    font-size: 14px;
}
/* nav part end */
/* hero section start */
#banner{
  /* min-height: 700px; */
  background-color: var(--banner-color);
}

.bannerContent{
  max-width: 657px;
  height: 276px;
  padding: 161.5px 84px;
}

.bannerContent h1{
  font-size: 64px;
  font-weight: 600;
  color: var(--font-color);
  line-height: 76px;
}

.bannerContent h2{
  font-size: 64px;
  font-weight: 600;
  color: var(--brand-color);
  /* line-height: 76px; */
}

.bannerContent p{
  font-size: 16px;
  font-weight: 400;
  color: var(--paragraph-color);
  line-height: 36px;
  /* padding-top: 16px; */
}

.bannerLinks{
  margin-top: 32px;
}

.dots{
  width: 46px;
  margin: auto;
  margin-top: 70px;
  padding-bottom: 16px;
}

.bannerBg{
  max-width: 391px;
  height: auto;
  padding: 96px 84px;
}
/* hero section end */
/* clients section start */
#clients{
  margin-top: 40px;
}

.clientsTitle h2{
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: var(--font-color);
}

.clientsTitle p{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
  color: var(--paragraph-color);
}

.clientsIcons{
  max-width: 1152px;
  margin: auto;
  gap: 136px;
  padding: 25px 0px;
  list-style: none;
}

/* .clientsIcons a{
  margin: auto;
} */

.community{
    margin-top: 40px;
}

.community h2{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: var(--font-color);
    line-height: 44px;
}

.community p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--paragraph-color);
    margin-top: 8px;
}

.businessCards{
  padding: 0px 84px;
    gap: 128px;
    margin-top: 16px;
    /* margin: auto; */
}

.communityCard{
    max-width: 300px;
    height: 270px;
    position: relative;
    margin: auto;
    box-shadow: 0px 2px 4px 0px #ABBED133;
}

.cardLogo img{
    max-width: 65px;
    position: absolute;
    margin-top: 24px;
    padding: 0px 117px;
    margin-bottom: 16px;
}

.cardContent h3{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: var(--font-color);
    line-height: 36px;
    margin-top: 96px;
}

.cardContent p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--paragraph-color);
    line-height: 20px;
    margin-top: 8px;
}

.clientWrapper{
    padding: 0px 84px;
    /* margin: auto; */
    position: relative;
    gap: 49px;
}

.clientBg{
    min-width: 442px;
}

.clientWrapperContent{
    min-width: 661px;
    height: 268px;
    margin: 82.5px 0px;
    padding-right: 84px;
}

.clientWrapperContent h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--font-color);
    line-height: 44px;
    margin-bottom: 16px;
    margin-right: 60px;
}

.clientWrapperContent p{
    font-size: 14px;
    font-weight: 400;
    color: var(--paragraph-color);
    line-height: 20px;
    margin-right: 60px;
    margin-bottom: 46px;
}

.clientLinks a{
    color: white;
    font-size: 16px;
}
/* clients section end */
/* business part start */
#business{
  background-color: var(--banner-color);
}

.localBusiness{
  margin-top: 48px;
  background-color: var(--banner-color);
  padding: 0px 84px;
  gap: 72px;
}

.businessContent, .businessDetails{
  width: 50%;
}

.businessContent{
  max-width: 540px;
  height: 120px;
  padding: 84px 0px;
  margin-right: 72px;
}

.businessContent h2{
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: var(--font-color);
}

.businessContent h3{
  font-size: 36px;
  font-weight: 600;
  color: var(--brand-color);
  line-height: 44px;
}

.businessContent p{
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 24px;
  margin-top: 8px;
}

.businessDetails{
  max-width: 540px;
  height: 160px;
  padding: 64px 0px;
}

.localDetails{
  flex-wrap: wrap;
  gap: 40px;
}

.localDetails div:first-child{
  margin-right: 15px;
}

.localDetails div:nth-child(3){
  margin-right: 30px;
}

.cardIcon img{
  width: 48px;
  height: 48px;
  padding: 6px 0px;
  padding-right: 16px;
}

.localHistory h2{
  font-size: 28px;
  font-weight: 700;
  color: var(--font-color);
  line-height: 36px;
}

.localHistory p{
  font-size: 16px;
  font-weight: 400;
  color: var(--paragraph-color);
  line-height: 24px;
}

.footerWrapper{
  margin-top: 48px;
  padding: 0px 84px;
  /* margin: auto; */
}

.footerBg{
  max-width: 442px;
  height: 433px;
  margin-right: 50px;
  /* margin: auto; */
}

.footerContent{
  max-width: 661px;
  height: 308px;
  margin: 62px 0px;
  margin: auto;
}

.footerContent h2{
  font-size: 36px;
  font-weight: 600;
  color: var(--font-color);
  line-height: 44px;
  margin-right: 60px;
  margin-bottom: 16px;
}

.footerContent p{
  font-size: 14px;
  font-weight: 400;
  color: var(--paragraph-color);
  line-height: 20px;
  margin-bottom: 46px;
  margin-right: 60px;
}

.timSmith{
  padding: 33px 84px;
  margin-top: 48px;
  background-color: var(--banner-color);
}

.timSmithBg{
  min-width: 326px;
  height: 326px;
  /* margin-right: 78px; */
}

.timSmithContent{
  max-width: 748px;
  height: 324px;
  margin: auto;
}

.timSmithContent p{
  font-size: 16px;
  font-weight: 500;
  color: var(--paragraph-color);
  line-height: 24px;
  margin-bottom: 16px;
}

.timSmithContent h3{
  font-size: 20px;
  font-weight: 600;
  color: var(--brand-color);
  margin-bottom: 8px;
}

.timSmithContent h4{
  font-size: 16px;
  font-weight: 400;
  color: var(--footer-color);
  margin-bottom: 32px;
}

.timSmithLinks{
  gap: 39px;
}

.timSmithLinks a{
  margin: auto;
  font-size: 20px;
  font-weight: 600;
  color: var(--brand-color);
}
/* business part end */
/* marketing part start */
#marketing{
  margin-top: 48px;
}

.marketingContent h2{
  font-size: 36px;
  font-weight: 600;
  color: var(--font-color);
  line-height: 44px;
  margin-bottom: 8px;
  text-align: center;
}

.marketingContent p{
  max-width: 628px;
  height: 72px;
  font-size: 16px;
  font-weight: 400;
  color: var(--paragraph-color);
  line-height: 24px;
  text-align: center;
  /* padding: 0px 406px; */
  padding-bottom: 16px;
  margin: auto;
}

.marketingContentWrapper{
  padding: 0px 84px;
  margin-bottom: 95px;
}

.contentWrapper{
  min-width: 368px;
  height: 366px;
  margin: auto;
  position: relative;
}

.markCardImg{
  max-width: 368px;
  height: 286px;
  position: absolute;
  z-index: -1;
}

.markCardContent{
  max-width: 317px;
  height: 176px;
  background-color: var(--banner-color);
  border-radius: 8px;
  margin: auto;
  text-align: center;
  margin-top: 190px;
}

.markCardContent h3{
  color: var(--paragraph-color);
  padding: 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 8px;
}

.markCardContent a{
  font-size: 20px;
  font-weight: 600;
  color: var(--brand-color);
  text-align: center;
}
/* marketing part end */
/* footer section start */
.preFooter{
  background-color: var(--banner-color);
}

.preFooter h2{
  font-size: 64px;
  font-weight: 600;
  color: var(--textBg-color);
  line-height: 76px;
  text-align: center;
  padding: 32px 0px;
  margin-bottom: 14px;
}

.preFooterLinks{
  /* padding: 0px 631px; */
  padding-bottom: 46px;
  /* margin: auto; */
  text-align: center;
}

.preFooterLinks a{
  font-size: 16px;
  font-weight: 500;
  margin: auto;
}

footer{
  background-color: var(--textBg-color);
}

.footer{
  padding: 0px 105px;
}

.infoLogo{
  min-width: 350px;
  height: 190px;
  padding-top: 64px;
  padding-bottom: 74px;
  margin-right: 125px;
  /* margin: auto; */
  /* color: white; */
}

.infoLogo img{
  margin-bottom: 40px;
}

.infoLogo p{
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  color: var(--banner-color);
  height: 48px;
  /* gap: 8px; */
}

.infoLogo div{
  margin-top: 40px;
  gap: 16px;
}

.infoDetails{
  max-width: 635px;
  height: 200px;
  padding: 64px 0px;
  /* padding-left: 125px; */
  gap: 30px;
  color: white;
  /* margin: auto; */
}

.firstInfo, .secondInfo{
  min-width: 160px;
  /* margin: auto; */
}

.firstInfo h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.firstInfo p{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  color: var(--banner-color);
}

.secondInfo h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.secondInfo p{
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 12px;
  color: var(--banner-color);
}

.thirdInfo{
  min-width: 255px;
  height: 92px;
}

.thirdInfo h3{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 24px;
}

.button{
  width: 255px;
  height: 40px;
  align-items: center;
  padding: 0px 12px;
  background-color: var(--form-color);
  border-radius: 8px;
  gap: 45px;
}

#form{
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: var(--btnBg--color);
}
/* footer section end */
