:root{
    --brand-color: #4CAF4F;
    --font-color: #4D4D4D;
    --text-color: #18191F;
    --paragraph-color: #717171;
    --banner-color: #F5F7FA;
    --footer-color: #89939E;
    --textBg-color: #263238;
}
/* css reset start */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

q:before,
q:after {
  content: "";
}

html,
body,
h1,
h2,
h3,
h4,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
  /* margin */
}
/* css reset end */
/* common css start */
.container{
    max-width: 1320px;
    margin: auto;
    /* position: relative; */
}

.flex{
    display: flex;
}

.align-items-center{
    align-items: center;
}

.btn{
    font-size: 16px;
    padding: 14px 32px;
    border-radius: 5px;
    background-color: var(--brand-color);
    color: white;
}
.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  /* font-weight: <weight>; */
  font-style: normal;
}

.text-color{
    color: var(--brand-color);
}
/* common css end */
/* nav part start */
nav{
    padding: 22px 0px;
    /* margin: auto; */
    background-color: var(--banner-color);
}

.navLogo, .navLinks{
    width: 25%;
}

.navMenu{
    width: 50%;
    margin: auto;
}

.navLogo{
  margin: auto;
}

.navLogo img{
    width: 155px;
}

.navMenu ul{
    gap: 65px;
    font-weight: 400;
}

.navMenu ul li a{
  color: var(--text-color);
}

.navLinks ul{
    gap: 35px;
    margin: auto;
    justify-content: flex-end;
}

.navLinks ul li:last-child{
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 6px;
    background-color: var(--brand-color);
}

.navLinks ul li a{
    color: white;
    font-weight: 500;
}

.navLinks ul li:first-child a{
    color: var(--brand-color);
    font-size: 14px;
}
/* nav part end */
/* hero section start */
#banner{
  min-height: 90vh;
  position: relative;
  background-color: var(--banner-color);
}

.bannerContant{
  max-width: 657px;
  height: 276px;
  padding: 161.5px 144px;
  position: absolute;
  left: 0;
  top: 0;
}

.bannerContant h1{
  font-size: 64px;
  font-weight: 600;
  color: var(--font-color);
  line-height: 76px;
}

.bannerContant h2{
  font-size: 64px;
  font-weight: 600;
  color: var(--brand-color);
}

.bannerContant p{
  font-size: 16px;
  font-weight: 400;
  color: var(--paragraph-color);
  line-height: 36px;
  /* padding-top: 16px; */
}

.bannerLinks{
  margin-top: 32px;
}

.dots{
  width: 46px;
  position: absolute;
  bottom: 0;
  left: 720px;
}

.bannerBg{
  max-width: 391px;
  top: 0;
  right: 0;
  position: absolute;
  padding: 96px 144px;
}
/* hero section end */
/* clients section start */
#clients{
  margin-top: 40px;
}

.clientsTitleLogos h2{
  font-size: 36px;
  font-weight: 600;
  text-align: center;
  color: var(--font-color);
}

.clientsTitleLogos p{
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  margin-top: 8px;
  color: var(--paragraph-color);
}

.clientsTitleLogos img{
  margin: auto;
  margin-top: 16px;
}

.community{
    margin-top: 40px;
}

.community h2{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    color: var(--font-color);
    line-height: 44px;
}

.community p{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    color: var(--paragraph-color);
    margin-top: 8px;
}

.businessCard{
    padding: 0px 144px;
    gap: 128px;
    margin-top: 16px;
}

.clientsCards{
    max-width: 300px;
    height: 280px;
    position: relative;
    margin: auto;
}

.cardLogo img{
    max-width: 65px;
    position: absolute;
    margin-top: 24px;
    right: 120px;
}

.cardContent h3{
    font-size: 28px;
    font-weight: 700;
    text-align: center;
    color: var(--font-color);
    line-height: 36px;
    margin-top: 96px;
}

.cardContent p{
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--paragraph-color);
    line-height: 20px;
    margin-top: 8px;
}

.clientWrapper{
    padding: 0px 144px;
    /* margin: auto; */
    position: relative;
}

.clientBg{
    max-width: 442px;
}

.clientWrapperContent{
    max-width: 661px;
    height: 268px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 82.5px 144px;
}

.clientWrapperContent h2{
    font-size: 36px;
    font-weight: 600;
    color: var(--font-color);
    line-height: 44px;
    margin-bottom: 16px;
    margin-right: 60px;
}

.clientWrapperContent p{
    font-size: 14px;
    font-weight: 400;
    color: var(--paragraph-color);
    line-height: 20px;
    margin-right: 60px;
    margin-bottom: 46px;
}

.contentLinks a{
    color: white;
    font-size: 16px;
}

.localHistory{
  margin-top: 48px;
  background-color: var(--banner-color);
}

.historyContent, .historyDetails{
  width: 50%;
}

.historyContent{
  max-width: 540px;
  height: 120px;
  padding: 84px 0px;
  padding-left: 144px;
  margin-right: 72px;
}

.historyContent h2{
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  color: var(--font-color);
}

.historyContent h3{
  font-size: 36px;
  font-weight: 600;
  color: var(--brand-color);
  line-height: 44px;
}

.historyContent p{
  font-size: 16px;
  font-weight: 400;
  color: var(--text-color);
  line-height: 24px;
  margin-top: 8px;
}

.historyDetails{
  max-width: 540px;
  height: 160px;
  padding: 64px 0px;
  padding-right: 144px;
  position: relative;
}

.imagesDetails{
  max-width: 255px;
  height: 60px;
  position: absolute;
}

/* .historyDetails div:first-child{
  margin-right: 30px;
} */

.historyDetails div:nth-last-child(3){
  top: 0;
  right: 0;
  margin-top: 64px;
  margin-right: 144px;
}

.historyDetails div:nth-last-child(2){
  left: 0;
  bottom: 0;
  margin-bottom: 64px;
}

.historyDetails div:last-child{
  bottom: 0;
  right: 0;
  margin-bottom: 64px;
  margin-right: 144px;
}
/* clients section end */
/* footer part start */
footer{
  margin-top: 48px;
}

.footerWrapper{
  padding: 0px 144px;
  /* margin: auto; */
}

.footerBg{
  max-width: 442px;
  height: 433px;
  margin-right: 50px;
  /* margin: auto; */
}

.footerContent{
  max-width: 661px;
  height: 308px;
  margin: 62px 0px;
  margin: auto;
}

.footerContent h2{
  font-size: 36px;
  font-weight: 600;
  color: var(--font-color);
  line-height: 44px;
  margin-right: 60px;
  margin-bottom: 16px;
}

.footerContent p{
  font-size: 14px;
  font-weight: 400;
  color: var(--paragraph-color);
  line-height: 20px;
  margin-bottom: 46px;
  margin-right: 60px;
}

.timSmith{
  padding: 33px 144px;
  margin-top: 48px;
  background-color: var(--banner-color);
}

.timSmithBg{
  min-width: 326px;
  height: 326px;
  margin-right: 78px;
}

.timSmithContent{
  max-width: 748px;
  height: 324px;
  margin: auto;
}

.timSmithContent p{
  font-size: 16px;
  font-weight: 500;
  color: var(--paragraph-color);
  line-height: 24px;
  margin-bottom: 16px;
}

.timSmithContent h3{
  font-size: 20px;
  font-weight: 600;
  color: var(--brand-color);
  margin-bottom: 8px;
}

.timSmithContent h4{
  font-size: 16px;
  font-weight: 400;
  color: var(--footer-color);
  margin-bottom: 32px;
}

.timSmithLinks img{
  width: 493px;
  height: 48px;
  margin-right: 32px;
}

.timSmithLinks a{
  font-size: 20px;
  font-weight: 600;
  color: var(--brand-color);
  padding: 8px 0px;
  margin: auto;
}
/* footer part end */
/* marketing part start */
#marketing{
  margin-top: 48px;
}

.marketingContent h2{
  font-size: 36px;
  font-weight: 600;
  color: var(--font-color);
  line-height: 44px;
  margin-bottom: 8px;
  text-align: center;
}

.marketingContent p{
  max-width: 628px;
  height: 72px;
  font-size: 16px;
  font-weight: 400;
  color: var(--paragraph-color);
  line-height: 24px;
  text-align: center;
  padding: 0px 406px;
  padding-bottom: 16px;
  margin: auto;
}

.marketingContentWrapper{
  padding: 0px 144px;
  margin-bottom: 95px;
}

.contentWrapper{
  min-width: 368px;
  height: 366px;
  margin: auto;
  position: relative;
}

.markCardImg{
  max-width: 368px;
  height: 286px;
  position: absolute;
  z-index: -1;
}

.markCardContent{
  max-width: 317px;
  height: 176px;
  background-color: var(--banner-color);
  border-radius: 8px;
  margin: auto;
  text-align: center;
  margin-top: 190px;
}

.markCardContent h3{
  color: var(--paragraph-color);
  padding: 16px;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  margin-bottom: 8px;
}

.markCardContent h4{
  font-size: 20px;
  font-weight: 600;
  color: var(--brand-color);
  text-align: center;
}
/* marketing part end */
/* suscipit section start */
#suscipit{
  background-color: var(--banner-color);
}

.suscipitContent h2{
  font-size: 64px;
  font-weight: 600;
  color: var(--textBg-color);
  line-height: 76px;
  text-align: center;
  padding: 32px 0px;
  margin-bottom: 14px;
}

.suscipitLinks{
  padding: 0px 631px;
  padding-bottom: 46px;
}

.suscipitContent a{
  font-size: 16px;
  font-weight: 500;
}

.companyDetails{
  background-color: var(--textBg-color);
  padding: 0px 165px;
}

.infoLogo{
  padding-top: 64px;
  padding-bottom: 74px;
  margin: auto;
}

.infoDetails{
  max-width: 635px;
  height: 200px;
  padding: 64px 0px;
  padding-left: 125px;
  gap: 30px;
  margin: auto;
}
/* suscipit section end */
